<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931706350656-efro0idr70iic75tump2594a11t510eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931706350656-efro0idr70iic75tump2594a11t510eg</string>
	<key>API_KEY</key>
	<string>AIzaSyAqmbStkLSOSW6rlJ72hUFH670QksrhSCA</string>
	<key>GCM_SENDER_ID</key>
	<string>931706350656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.iovasile.coffeeshop</string>
	<key>PROJECT_ID</key>
	<string>coffeeshop-d364f</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeshop-d364f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931706350656:ios:b567a5fb56b1255fb543a5</string>
	<key>DATABASE_URL</key>
	<string>https://coffeeshop-d364f.firebaseio.com</string>
</dict>
</plist>